.SendMessage{
    width:100%;
    margin:10px auto 0 auto;
    max-width:500px;
    display:flex;
    flex-direction: column;
    & > .textMessage{
        display:flex;
        justify-content:space-between;
        margin-bottom: 10px;
        & > .sendButton{
            width:150px;
        }
        & > .message{
            flex-grow: 2;
        }
    }
    
}